.nunito700{
    font-family: "Nunito", system-ui;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.nunito400{
    font-family: "Nunito", system-ui;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.oswald500{
    font-family:  "Oswald", system-ui;
    font-weight: 500;
    margin: 0;
    padding: 0;
}